<div class="column">
    <img id='logo' src="/images/beer.png" alt="Beer!">
    <a href="/beers" class="btn-link">Check the Beers!</a>
    <a href="/random-beer" class="btn-link">Check a Random Beer!</a>
</div>